.Container7 {
    width: 100%;
    max-width: 1200px;
    margin: 80px auto;
    padding: 0 20px;
    font-family: 'Advent Pro', sans-serif;
    box-sizing: border-box; /
}

.sharh__text1 {
    font-size: 42px;
    font-weight: bold;
    margin-bottom: 50px;
    color: #1a1a1a;
}

.sharh__flex {
    display: flex;
    align-items: center;
    gap: 40px;
}

.sharh__images {
    position: relative;
    flex-shrink: 0; 
}

.sharh__img1 {
    display: block;
    width: 100%;
    max-width: 400px; 
}

.sharh__img2 {
    position: absolute;
    bottom: -30px; 
    left: 0px;
    width: 100%; 
}


.sharh__text2 {
    max-width: 600px; 
    font-size: 20px;
    font-weight: 600;
    line-height: 1.6;
    color: #1877F2;
    margin: 0; 
    margin-left: 100px;
    text-align: center;
}

@media only screen and (max-width: 480px) {
    .Container7 {
        margin: 40px auto;
        padding: 0 10px;
    }

    .sharh__text1 {
        font-size: 28px;
        margin-bottom: 30px;
        text-align: center;
    }

    .sharh__flex {
        flex-direction: column;
        gap: 20px;
    }

    .sharh__images {
        width: 100%;
        max-width: 300px; 
    }

    .sharh__img2 {
        position: absolute;
        bottom: -20px; 
        left: 0;
        width: 100%; 
    }

    .sharh__text2 {
        margin-left: 0;
        font-size: 16px;
        text-align: center;
        margin-top: 30px;
    }
}