.Container4{
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 100px;
}
.jamoa__text{
    margin-left: 100px;
}
.jamoa__card1{
    margin-left: 100px;
    
}
.jamoa__card2{
    margin-left: 50px;
}.jamoa__card3{
    margin-left: 50px;
}.jamoa__card4{
    margin-left: 50px;
}
@media only screen and (max-width: 480px) {
    .jamoa__card1{
        margin-left: 50px;
        
    }
    .jamoa__card2{
        display: none;
    }.jamoa__card3{
        display: none;
        
    }.jamoa__card4{
        display: none;
            }
}