.Container3{
    width: 100%;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}
.kun__text1{
    
    margin-left: 100px;
}
.kun__flex{
    display: flex;
    flex-direction: row;
    gap: 1000px;
}
.kun__btn{
    /* Frame 1000001932 */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 12px 24px;
gap: 10px;

margin: 0 auto;
width: 120px;
height: 44px;
color: white;
background: #1877F2;
border-radius: 999px;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;

}
.kun__img1{
    margin-left: 80px;
    width: 1370px;
}
@media only screen and (max-width: 480px) {
    .kun__img1{
        width: 350px;
        margin-left: 35px;
        height: 200px;
        margin-top: 30px;
    }
    .kun__text1{
        margin-top: 200px;
        margin-left: 30px;
    }
    .kun__btn{
        margin-top: 200px;

    }
    .kun__flex{
        gap: 20px;
    }
}