.Container6{
    width: 100%;
    height: auto;
    justify-content: center;
    align-items: center;
    padding: 50px 0;
    gap: 50px;
}
.port_imgs{
    margin-left: 100px;
}
.port__text{
    margin-left: 100px;
}
@media only screen and (max-width: 480px) {
    .Container6{
        padding: 20px 0;
        margin-top: 50px;
    }
    .port_imgs{
        margin-left: 0;
    }
    .port__text{
        margin-left: 0;
    }
    .port__img1{
        display: none;
    }

    .port__img4{
        display: none;
    }
    .port__img5{
        display: none;
    }

    .port__img2{
        width: 100%;
        height: 300px;
        margin-bottom: 20px;
    }
    .port__img3{
        width: 100%;
        height: 300px;
        margin-bottom: 20px;
    }
    .port__img6{
        width: 100%;
        height: 300px;
        margin-bottom: 20px;
    }
 
}