.Container2{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    position: relative;

}
.intro__text1{
/* San’at olamiga yo‘l oching */
position: absolute;
width: 566px;
height: 160px;

font-family: 'Advent Pro';
font-style: normal;
font-weight: 700;
font-size: 72px;
line-height: 80px;
/* or 111% */

color: #FFFFFF;
top: 200px;
left: 100px;

/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;

}
.intro__text2{
    /* Tasviriy san’at, dizayn va ijodiy ishlar uchun yagona platforma. Ilhom oling, o‘rganing va o‘z ijodingizni baham ko‘ring. */
position: absolute;
width: 566px;
height: 96px;
top: 430px;
left: 100px;
font-family: 'Advent Pro';
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 32px;
/* or 133% */

color: #FFFFFF;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;

}
.intro__btn{
    /* Frame 1000001932 */
position: absolute;
/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 12px 24px;
gap: 10px;
left: 100px;
top: 580px;
width: 127px;
height: 56px;

background: #FFFFFF;
border-radius: 999px;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;

}
.intro__img1{
    position: absolute;
    width: 344px;
    height: 344px;
    right: 0;
    top: 130px;
    bottom: 0;
    left: 1100px;
}
.intro__img2{
    position: absolute;
    width: 504px;
    height: 232px;
    right: 0;
    top: 500px;
    bottom: 0;
    left: 900px;
}
@media only screen and (max-width: 480px) {

    .intro__text1{
        font-size: 36px;
        width: 300px;
        height: auto;
        top: 10px;
        left: 20px;
    }
    .intro__text2{
        font-size: 16px;
        width: 300px;
        height: auto;
        top: 220px;
        left: 20px;
    }
    .intro__btn{
        width: 100px;
        height: 40px;
        top: 380px;
        left: 20px;
        padding: 8px 16px;
    }
    .intro__img1{
        left: 30px;
        margin-top: 630px;
    }       
    .intro__img{
        width: 100%;
        height: 500px;
        margin-top: -350px;
    }
     .intro__img2{
        left: 0px;
        width: 100%;
     }
}